<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559629299030-86g61tdgm5bstg6v0d5m6r76pcubk8v8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559629299030-86g61tdgm5bstg6v0d5m6r76pcubk8v8</string>
	<key>API_KEY</key>
	<string>AIzaSyD7SIPcDggY6oVX5NLx_XJn96gvlkJX8AI</string>
	<key>GCM_SENDER_ID</key>
	<string>559629299030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messengerApp</string>
	<key>PROJECT_ID</key>
	<string>messenger-app-30a25</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-app-30a25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559629299030:ios:54ff6558cec5404c04faf7</string>
</dict>
</plist>